@import "reset";

body{
    height: 100vh;
    width: 100vw;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.contenedor{
    height: 100%;
    width: 100%;
    background:black;
    border: 15px solid orange;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.boton{
    height: 50%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.respuesta{
    height: 50%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
    .texto{
        height: 80%;
        width: 80%;
        color: white;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

    }