@import "reset";


@mixin flexbox {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

body{
    height: 100vh;
    width: 100vw;
    @include flexbox;
}
.contenedor{
    height: 100%;
    width: 100%;
    background:#eeebdd;
    border: 15px solid #810000;
    @include flexbox;
}
.boton{
    color: #810000;
    height: 50%;
    width: 100%;
    @include flexbox;
}

.respuesta{
    height: 50%;
    width: 100%;
    @include flexbox;
}
    .texto{
        height: 80%;
        width: 80%;
        color: #810000;
        font-size: 35px;
        font-weight:bold;
        @include flexbox;
        padding-bottom: 10%;
    }